<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.product.mapper.CategoryMapper">
    <resultMap id="categoryResult" type="com.shop.product.entity.Category">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="parent_id" property="parentId"/>
        <id column="create_by" property="createBy"/>
        <id column="create_time" property="createTime"/>
        <id column="update_by" property="updateBy"/>
        <id column="update_time" property="updateTime"/>
        <id column="del_flag" property="delFlag"/>
    </resultMap>

    <sql id="selectCategoryVO">
        select `id`,
               `name`,
               `parent_id`,
               `create_by`,
               `create_time`,
               `update_by`,
               `update_time`,
               `del_flag`
        from tb_category c
    </sql>

    <select id="listCategories" resultMap="categoryResult" parameterType="com.shop.product.entity.Category">
        <include refid="selectCategoryVO"/>
        <where>
            <if test="name != null and name != ''">
                and c.`name` like concat('%', #{name}, '%')
            </if>
            and c.`del_flag` = 0
        </where>
    </select>
</mapper>