<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.product.mapper.ProductMapper">
    <resultMap id="productResult" type="com.shop.product.entity.Product">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="describe" property="describe"/>
        <id column="specs_id" property="specsId"/>
        <id column="type_id" property="typeId"/>
        <id column="price" property="price"/>
        <id column="stock" property="stock"/>
        <id column="file_path" property="filePath"/>
        <id column="create_by" property="createBy"/>
        <id column="create_time" property="createTime"/>
        <id column="update_by" property="updateBy"/>
        <id column="update_time" property="updateTime"/>
        <id column="del_flag" property="delFlag"/>
    </resultMap>

    <sql id="selectProductVO">
        select p.`id`,
               p.`name`,
               p.`describe`,
               p.`specs_id`,
               p.`type_id`,
               p.`price`,
               p.`file_path`,
               p.`stock`,
               p.`create_by`,
               p.`create_time`,
               p.`update_by`,
               p.`update_time`,
               p.`del_flag`
        from tb_product p
    </sql>

    <select id="listProducts" resultMap="productResult">
        <include refid="selectProductVO"/>
        <where>
            <if test="name != null and name != ''">
                and p.`name` like concat('%', #{name}, '%')
            </if>
            <if test="typeId != null">
                and p.type_id = #{typeId}
            </if>
            <if test="(params != null and params != '') and (params.startTime != null and params.startTime != '') and
            (params.endTime != null and params.endTime != '')">
                and p.`create_time` between #{params.startTime} and #{params.endTime}
            </if>
            and p.`del_flag` = 0
        </where>
    </select>

    <select id="getProduct" resultMap="productResult">
        <include refid="selectProductVO"/>
        where c.id = #{id}
    </select>

    <update id="update" parameterType="com.shop.product.entity.Product">
        update tb_product
        <set>
            <if test="stock != null">
                stock = #{stock},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>